<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/lnandit/MONSOONTILES/xcm_banners_janart_2022_580x800_3line-dspvj-4ut06-227ca_580x800_in-en.jpg" class="card-body" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/lnandit/MONSOONTILES/xcm_banners_janart_2022_290x400_3line-dspvj-4ut06-jcfxe_580x800_in-en.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/lnandit/MONSOONTILES/xcm_banners_janart_2022_580x800_3line-dspvj-4ut06-b6pna_580x800_in-en.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/lnandit/MONSOONTILES/xcm_banners_janart_2022_580x800_3line-dspvj-4ut06-5v4m9_580x800_in-en.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>