USE [master]
GO
/****** Object:  Database [EshoppingDB]    Script Date: 22-07-2022 6.05.45 PM ******/
CREATE DATABASE [EshoppingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EshoppingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EshoppingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EshoppingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EshoppingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EshoppingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EshoppingDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 22-07-2022 6.05.45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinalOrder]    Script Date: 22-07-2022 6.05.45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[State] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Zip] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[OrderName] [nvarchar](50) NULL,
	[OrderQuantity] [decimal](18, 2) NULL,
	[OrderPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_FinalOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 22-07-2022 6.05.45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[IsAdmin] [int] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyOrder]    Script Date: 22-07-2022 6.05.45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NULL,
	[ProductCategory] [nvarchar](50) NULL,
	[ProductPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_MyOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 22-07-2022 6.05.45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[Category] [nvarchar](50) NULL,
	[ProductImage] [nvarchar](max) NULL,
	[ProductDiscount] [decimal](18, 2) NULL,
	[ProductMRP] [decimal](18, 2) NULL,
	[ProductSellingPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [CatName]) VALUES (1, N'Mobile')
INSERT [dbo].[Category] ([Id], [CatName]) VALUES (2, N'Clothes')
INSERT [dbo].[Category] ([Id], [CatName]) VALUES (1002, N'Laptop')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[FinalOrder] ON 

INSERT [dbo].[FinalOrder] ([Id], [FirstName], [LastName], [Address], [State], [City], [Zip], [Email], [OrderName], [OrderQuantity], [OrderPrice]) VALUES (1, N'Omkar', N'Dhumal', N'33,saibaba nagar', N'Maharashtra', N'Pune', 440034, N'omi@gmail.com', N'Iphone8', CAST(1.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[FinalOrder] ([Id], [FirstName], [LastName], [Address], [State], [City], [Zip], [Email], [OrderName], [OrderQuantity], [OrderPrice]) VALUES (2, N'', N'', N'', N'', N'', 0, N'', N'', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[FinalOrder] ([Id], [FirstName], [LastName], [Address], [State], [City], [Zip], [Email], [OrderName], [OrderQuantity], [OrderPrice]) VALUES (3, N'', N'', N'', N'3', N'', 0, N'', N'', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[FinalOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([Id], [UserName], [Password], [IsAdmin]) VALUES (1, N'Akshay@123', N'111', NULL)
INSERT [dbo].[Login] ([Id], [UserName], [Password], [IsAdmin]) VALUES (3, N'Akshay@111', N'1111', NULL)
INSERT [dbo].[Login] ([Id], [UserName], [Password], [IsAdmin]) VALUES (4, N'Akshay@3334', N'3334', 1)
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[MyOrder] ON 

INSERT [dbo].[MyOrder] ([Id], [ProductName], [ProductCategory], [ProductPrice]) VALUES (1, N'iphone8', N'Mobile', CAST(50000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[MyOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [ProductName], [ProductDescription], [Category], [ProductImage], [ProductDiscount], [ProductMRP], [ProductSellingPrice]) VALUES (13, N'Bullmer', N'Striped Henley T-shirt', N'Tshirt', N'tshirt3.webp', CAST(31.00 AS Decimal(18, 2)), CAST(999.00 AS Decimal(18, 2)), CAST(689.00 AS Decimal(18, 2)))
INSERT [dbo].[Product] ([Id], [ProductName], [ProductDescription], [Category], [ProductImage], [ProductDiscount], [ProductMRP], [ProductSellingPrice]) VALUES (15, N'EA7 EMPORIO ARMANI', N'Tennis Pro Printed Polo T-shirt', N'Tshirt', N'img1.webp', CAST(28.00 AS Decimal(18, 2)), CAST(10999.00 AS Decimal(18, 2)), CAST(7919.00 AS Decimal(18, 2)))
INSERT [dbo].[Product] ([Id], [ProductName], [ProductDescription], [Category], [ProductImage], [ProductDiscount], [ProductMRP], [ProductSellingPrice]) VALUES (16, N'BULLMER', N'Colourblock Polo T-shirt', N'Tshirt', N'img2.jpg', CAST(35.00 AS Decimal(18, 2)), CAST(999.00 AS Decimal(18, 2)), CAST(649.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
USE [master]
GO
